* {
  box-sizing: border-box;
}

body {
  width: 500px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
  margin: 20px 0 0 0;
}

.screen {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

.calc-button {
  background: #d8d9db;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 48px;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button:last-child {
  background-color: #df974c;
  color: wheat;
}

.calc-button:last-child:hover {
  background-color: #bd6e1b;
}

.calc-button:last-child:active {
  background-color: #9b5811;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
  margin-bottom: .5%;
}

.calc-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin: 0.5%;
}